body{
    display:flex;
    flex-direction:column;
    justify-content: center;

}
#result{
   height: 120px;
   background-color: grey; 
   text-align: center;
   /* font-size:60px; */
}
form{
    text-align: center;
    font-size: 50px;
}